body {
    background-color: #7AEBEA;
}

.content {
    width: 65%;
    margin: 0 auto;
    margin-top: 15px !important;
    border: 1px solid #F00813;
    background-color: #959630;
}

h1 {
    margin-top: 25px;
    margin-left: 270px;
    margin-bottom: 15px;
}

.tit {
    font-size: 15px;
    font-weight: bold;
    font-style: oblique;
    padding: 7px;
}

.content table,
th,
td {
    border: 1px solid black;
}

.content table {
    margin-left: 90px;
    margin-top: 20px;
}

.info {
    text-align: justify;
    padding: 5px;
}

.content table td th,
table td,
table {
    border: 1px solid black;
}

a {
    list-style-type: none;
    color: rgb(64, 125, 151);
    margin-left: 5px;
    text-decoration: none;
    padding-right: 5px !important;
}

.content button {
    margin-left: 700px;
    margin-top: 5px;
    height: 30px;
    width: 60px;
}

.input-information {
    margin-left: 300px;
    height: 25px;
    width: 300px;
    margin-bottom: 5px;
}

.edit-btn {
    width: 75px;
    height: 25px;
    margin-left: 16px;
}

.update-ip {
    margin-left: 750px;
    margin-top: 10px;
    height: 30px;
    width: 65px;
}